PAYMENT_MANAGER_ID=
PAYMENT_MANAGER_ARN=
COINBASE_API_KEY_ID=
COINBASE_API_KEY_SECRET=
COINBASE_WALLET_SECRET=
PAYMENT_CONNECTOR_ID=
USER_ID=
LINKED_ACCOUNT_EMAIL=
TARGET_CHAIN=BASE_SEPOLIA
BALANCE_TOKEN=USDC